@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Barlow+Condensed:wght@200&family=Cabin:ital@1&family=Dancing+Script:wght@500&display=swap');
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
h1, h2 {
    color: rgb(29,109,214);
}
h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 45px;
}
h2 {
    margin-top: 1em;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    font-size: 35px;
    
}
p {
    line-height: 2;
    font-family: 'Arial';
    font-size: 16px;
}
.image-container {
    text-align: center;
    margin-top: 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#fondpagehistoire {
background: url(https://www.francecomfort.com/l/en/library/download/urn:uuid:4744970e-a11a-4ad1-b94c-76c3f3f7a251/marseille+1+zuid+frankrijk+middellandse+zee+strand+vakantie+villa+oude+haven+vieux+port.jpg?scaleType=3&width=1600&height=1000);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


.text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagecorps {
    margin-left: 5%;
        
}

.imagecorps2 {
    margin-right: 5%;
}

